#syncs.append(
#	InFsSync(
#		InFsFolder(dir="/mnt/f1", cfgname="foo", dryness=Dryness.EXECUTE_ALL, permissions=("parsley", "parsley", (stat.S_IRUSR|stat.S_IWUSR|stat.S_IRGRP,stat.S_IRWXO|stat.S_IWGRP), (stat.S_IRWXU|stat.S_IRGRP|stat.S_IXGRP,stat.S_IRWXO|stat.S_IWGRP)) ),
#		InFsFolder(dir="/data/storage/f1", cfgname="bar", dryness=Dryness.EXECUTE_ALL, permissions=("parsley", "parsley", (stat.S_IRUSR|stat.S_IWUSR|stat.S_IRGRP,stat.S_IRWXO|stat.S_IWGRP), (stat.S_IRWXU|stat.S_IRGRP|stat.S_IXGRP,stat.S_IRWXO|stat.S_IWGRP)) ),
#		host="foomachine", name="example", 
#		warn_after=timedelta(seconds=20), warn_interval=timedelta(seconds=40),
#		warn_escalationfactor=15.8 *24*60, interval=timedelta(seconds=0.5),
#		preparations=[SshfsMountPreparation(src="free-radical@heisterkamp:/tmp/orig1",tgt="/mnt/f1",idfile="/home/free-radical/tmpid")]
#))

#syncs.append(SvnSync(
#		SvnFolder(cfgname="rim", repo="/tmp/repo1", dir="/tmp/workcopy11"),
#		host="papenacker",name="taest", 
#))

logging.append(Logger(loggerout=FilestreamLoggerout(color=3), format=PlaintextLogformat() , minseverity=Severity.DEBUG, maxseverity=Severity.DEBUG))
logging.append(Logger(loggerout=FilestreamLoggerout(color=1), format=PlaintextLogformat() , minseverity=Severity.INFO, maxseverity=Severity.ERROR))

